
@model AspCoreApp.Models.Employee

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title" id="myModalLabel">Add/Update Employee</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <input type="number" id="EmployeeId" hidden="hidden" />
                </div>
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input type="text" class="form-control" id="FirstName" placeholder="First name"/>
                </div>
                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input type="text" class="form-control" id="LastName" placeholder="Last name" />
                </div>
                <div class="form-group">
                    <label for="Experience">Experience</label>
                    <input type="text" class="form-control" id="Experience" placeholder="Experience in years" />
                </div>
                <div class="form-group">
                    <label for="Salary">Salary</label>
                    <input type="text" class="form-control" id="Salary" placeholder="Salary per month" />
                </div>
                <div class="form-group">
                    <label for="Team">Team</label>
                    @Html.DropDownListFor(model => model.Team,
                                        new SelectList(Enum.GetValues(typeof(AspCoreApp.Models.EmployeeTeam))), "Select team",
                                        new { htmlAttributes = new { @class = "form-control", @id = "Team", @style = "min-width:100px; width: 100px" } })
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
            <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>