@{
    ViewBag.Title = "All employees";
}

<p style="margin-top:10px">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEditEmpModal" onclick="clearAddEmpModal();">Add employee</button>
</p>

<h2>Employees</h2>

<table id="tblEmployees" class="table">
    <thead>
        <tr>
            <th align="left">FirstName</th>
            <th align="left">LastName</th>
            <th align="left">Experience</th>
            <th align="left">Salary</th>
            <th align="left">Team</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="addEditEmpModal" role="dialog" style="width:1500px;height:1000px;">
    @{
        Html.RenderPartial("_AddEditEmployee");
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            LoadEmployees();
        });

        function LoadEmployees() {
            $("#tblEmployees tbody tr").remove();
            $.ajax({
                type: 'GET',
                url: '/Employee/GetEmployees',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {

                    $.each(data, function (i, item) {
                        console.log(item);
                        var rows = "<tr>"
                            + "<td style='max-width: 400px'>" + item.firstName + "</td>"
                            + "<td style='max-width: 200px'>" + item.lastName + "</td>"
                            + "<td>" + item.experience + "</td>"
                            + "<td>" + item.salary + "</td>"
                            + "<td>" + item.team + "</td>"
                            + "<td> <a href='#' onclick='return getByID(" + item.id + ")'>Edit</a> | <a href='#' onclick='Delete(" + item.id + ")'> Delete </a></td>"
                            + "</tr>";
                        $('#tblEmployees tbody').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                }
            });
            return false;
        }

        function Add() {
            //var res = validate();
            //if (res == false) {
            //    return false;
            //}

            var empObj = {
                FirstName: $('#FirstName').val(),
                LastName: $('#LastName').val(),
                Experience: $('#Experience').val(),
                Salary: $('#Salary').val(),
                Team: $('#Team').val()
            };

            $.ajax({
                url: "/Employee/Create",
                data: {emp:empObj},
                type: "POST",
                dataType: "json",
                success: function (result) {

                    $('#addEditEmpModal').modal('hide');

                    LoadEmployees();

                },
                error: function (errormessage) {

                }
            });
        }

        function Update() {
            //var res = validate();
            //if (res == false) {
            //    return false;
            //}

            var emp = {
                Id: $('#EmployeeId').val(),
                FirstName: $('#FirstName').val(),
                LastName: $('#LastName').val(),
                Experience: $('#Experience').val(),
                Salary: $('#Salary').val(),
                Team: $('#Team').val()
            };

            $.ajax({
                url: "/Employee/Update/",
                data: {emp:emp},
                type: "POST",
                dataType: "json",
                success: function (result) {

                    $('#addEditEmpModal').modal('hide');

                    LoadEmployees();

                },
                error: function (errormessage) {
                }
            });
        }

        function getByID(id) {

            $('#Note').css('border-color', 'lightgrey');
            $('#Tags').css('border-color', 'lightgrey');
            $('#Priority').css('border-color', 'lightgrey');
            $.ajax({
                url: "/Employee/GetById/" + id,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {

                    $('#EmployeeId').val(id);

                    $('#FirstName').val(result.firstName);
                    $('#LastName').val(result.lastName);
                    $('#Experience').val(result.experience);
                    $('#Salary').val(result.salary);
                    $('#Team').val(result.team);

                    $('#addEditEmpModal').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function (errormessage) {
                }
            });
            return false;
        }

        function Delete(id) {

            $.ajax({
                url: "/Employee/Delete/" + id,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    LoadEmployees();
                },
                error: function (errormessage) {
                }
            });
            return false;
        }

        function clearAddEmpModal() {

            $('#FirstName').val("");
            $('#LastName').val("");
            $('#Experience').val("");
            $('#Salary').val("");
            $('#Team').val("");

            $('#btnUpdate').hide();
            $('#btnAdd').show();

            $('#FirstName').css('border-color', 'lightgrey');
            $('#LastName').css('border-color', 'lightgrey');
            $('#Experience').css('border-color', 'lightgrey');
            $('#Salary').css('border-color', 'lightgrey');
            $('#Team').css('border-color', 'lightgrey');
        }
    </script>
}
